@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  @apply font-sans;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.8s ease-in-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}