.card1 { box-shadow: 0px 4px 8px #eae8fd; }
  .card2 { box-shadow: 0px 4px 8px #fff1e3; }
  .card2 {
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
}